/* ? Core styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

/* ? Main header styles */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}

.main-header_brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header_brand img {
    width: 64px;
    border-radius: 20px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation_item {
    display: inline-block;
    padding: 10px;
    margin-right: 60px;
}

.main-navigation_item a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.main-navigation_item a:hover {
    color: aqua;
}

/* !Main header styles */


/* ?Main setion */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.social-section {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    transition: transform 0.3s;
}

.social-link:hover {
    transform: translateY(-10px);
}

.social-link img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.social-link p {
    font-size: 18px;
    margin: 0;
}


/* !Main setion */